@import "partials";

.profile-title{
    display: flex;
    font-weight: 500;
    font-size: 18px;
    padding: 30px 0px;
    align-items: center;
    color: #0096DF;
    @media ($sm-1679){
        padding: 25px 0;
    }
    @media ($sm-1199){
        padding: 20px 0;
    }
    .pro-pic{
        width: 47px;
        height: 47px;
        border-radius: 50px;
        background: rgba(215, 234, 243, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 15px;
        @media (max-width: 1679px) {
              width: 42px;
              height: 42px;
          }
          @media (max-width: 1441px) {
              width: 38px;
              height: 38px;
          }
          @media (max-width: 1199px) {
              width: 36px;
              height: 36px;
              border-radius: 36px;
          }
          @media (max-width: 991px) {
              width: 34px;
              height: 34px;
              border-radius: 34px;
          }
        img{
            object-fit: contain;
            max-width: 100%;
        }
    }
}


.common-layout{
    width: 1129px;
    margin:0 auto;
    @media($sm-1679){
        width: 900px;
    }
    @media($sm-991){
        width: 90%;
    }
    .inner-layout{
        border: 1px solid #B3C6DD;
        border-radius: 40px;
        .form-check{
            padding-left: 0;
            .form-check-label{
                float: left;
                margin-right: 11px;
            }
            .form-check-input{
                margin-left: 0;
            }
        }
        .form-check-label{
            // padding-left: 0;
            // padding-right:1.5em;
            // .form-check-input{
            //     float: right;
            //     margin-right: -1.5em;
            //     margin-left: 0;
            // }
            float: left;
        }
        .form-label {
            font-size: 16px;
            color: #0C1421;
            @media ($sm-991) {
                font-size: 14px;
            }
        }
        .inner-sec{
            padding: 20px 166px;
            @media($sm-1679){
                padding: 20px 100px;
            }
            @media($sm-1481){
                padding: 20px 80px;
            }
            @media($sm-1199){
                padding: 20px 60px;
            }
            @media($sm-991){
                padding: 30px;
            }
            @media($sm-767){
                padding: 20px;
            }
        }
        .form-check{
            label{
                font-size: 16px;
                @media ($sm-1679){
                    font-size: 15px;
                }
                @media ($sm-1441){
                    font-size: 14px;
                }
                @media ($sm-1199){
                    font-size: 13px;
                }
            }
        }
        .input-grp{
            padding-bottom: 35px;
            &:last-child{
                padding-bottom: 0px;
            }
            .input-wrp{
                position: relative;
                .error{
                    color: red;
                    font-size: 14px;
                    position: absolute;
                }
            }
        }
        .form-control {
            border: 1px solid #D4D7E3;
            height: 48px;
            border-radius: 12px;
            outline: 0;
            box-shadow: none;
            font-weight: 400;
            font-size: 16px;
            background-color:#F7FBFF;
        
            &::placeholder{
                color: #8897AD; 
            }
            @media ($sm-1679) {
                height: 44px;
                font-size: 16px;
                font-size: 15px;
            }
            @media ($sm-991) {
                height: 40px;
                font-size: 14px;
            }
        
        }
        .generate-btn{
            background-color: #85A3CC;
            width: 202px;
            height: 47px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 13px;
            color: #fff;
            .bar-code{
                margin-right: 14px;
                flex-shrink: 0;
             
            }
            @media($sm-1679){
                height: 42px;
            }
            @media($sm-991){
                height: 40px;
            }
            @media($sm-767){
                margin-top: 0px;
            }
            @media ($sm-579){
                width: 100%;
            }
        }
    }
}

.add-inventory{
    padding-bottom: 30px;

.part-sec{
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    @media (max-width:700px){
        flex-direction: column;
    }

    .part-col-title{
        max-width: 342px;
        width: 100%;
        @media (max-width:700px){
            width: 100%;
            max-width: 100%;
            margin-left: 0px;
        }
        .form-control{
            @media (max-width:700px){
                width: 100%;
                max-width: 100%;
            }
        }
    }
    .part-col-label{
        max-width: 244px;
        width: 100%;
        margin-left: 18px;
        @media (max-width:700px){
            width: 100%;
            max-width: 100%;
            margin-left: 0px;
        }
        .form-control{
            @media (max-width:700px){
                width: 100%;
                max-width: 100%;
            }
        }
    }
    .form-control{
        max-width: 100%;
        // max-width:652px ;
        // @media($sm-1679){
        //     max-width: 570px;
        // }
        // @media($sm-1481){
        //     max-width: 520px;
        // }
        // @media($sm-991){
        //     max-width: 490px;
        // }
        // @media($sm-767){
        //     max-width: 430px;
        // }
        @media($sm-579){
            max-width: 100%;
            width: 100%;
            margin-bottom: 20px;
        }
      
    }
    .add-btn-wrp{
        @media (max-width:700px){
            width: 100%;
            margin-left: 0px;
        }
    }
    .add-btn{
        flex-grow: 1;
        height: 38px;
        border: 1px dashed #0096DF;
        background-color:#0096DF17;
        margin-left: 0px;
        font-weight: 400;
        font-size: 12px;
        color: #0397E0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 132px;
        @media($sm-1679){
            height: 34px;
            font-size: 11px;
            width: 100px;
        }
        @media (max-width:700px){
            margin-left: auto;
        }
        @media ($sm-579){
            width: 100%;
            margin-left: 0;
            flex-shrink: 1;
        }
        .plus{
            margin-right: 7px;
        }

    }
    .close-btn{
        width: 49px;
        height: 49px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #D5E7FA;
        border-radius: 8px;
        color: #154E8B;
        padding: 10px;
        @media($sm-1679){
            width: 42px;
            height: 42px;
        }
        @media($sm-1441){
            width: 40px;
            height: 40px;
        }
        @media($sm-1199){
            width: 38px;
            height: 38px;
        }
        @media($sm-991){
            width: 34px;
            height: 34px;
        }
        img{
            max-width: 15px;
            opacity: 0.3;
        }
    }
    &.part-sec1{
        margin-bottom: 22px;
        @media ($sm-579){
            flex-direction: row;
            margin-bottom: 10px;
        }
        .form-control{
            max-width: 730px;
            margin-right: 18px;
        }
        .part-col-title{
            margin-right: 18px;
            max-width: calc(348px - 18px);
            .form-control{
                margin-right: 0px;
            }
        }
    }
}

.bottom-btn-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 166px 35px 166px;
    border-top: 1px solid #D8E1ED;
    @media($sm-1679){
        padding: 20px 100px;
    }
    @media($sm-1481){
        padding: 20px 80px;
    }
    @media($sm-1199){
        padding: 20px 60px;
    }
    @media($sm-991){
        padding: 30px;
    }
    @media($sm-767){
        padding: 20px;
    }
    @media ($sm-479) {
        padding: 15px 10px;
        gap: 0px;
        flex-wrap: wrap;
    }
    .btn {
        width: 50%;
        height: 52px;
         background: #DFE6EA;
        color:  #517C90;
        border-radius: 50px;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0px;
        margin-right: 20px;
        justify-content: center;
        @media ($sm-1679) {
            height: 44px;
            font-size: 18px;
        }
        @media ($sm-1441) {
            font-size: 16px;
        }
        @media ($sm-1199) {
            font-size: 15px;
        }
        @media ($sm-991) {
            font-size: 14px;
        }
        @media ($sm-767) {
         
            height: 40px;
            font-size: 12px;
        }
        @media ($sm-479) {
           width: 100%;
           margin-bottom: 10px;
           gap: 0;
           margin-right: 0px;
        }
        .img {
            margin-right: 9px;
        }
        &.btn-submit {
            background: linear-gradient(90deg, #2CA0DA 0%, #3982A7 100%);
            color: $white;
            margin-right: 0px;
        }
    }
}

.upload-box{
    border: 1px dashed #0096DF;
    background: #0096DF17;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    position: relative;
    margin-bottom: 20px;
    .txt{
        color: #B3C6DD;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        @media ($sm-1679){
            font-size: 15px;
        }
        @media ($sm-1441){
            font-size: 14px;
        }



    }
    .upload-ico{
        padding-bottom: 13px;
        img{
            @media ($sm-1679){
                max-width: 60px;
            }
            @media ($sm-1199){
                max-width: 50px;
            }
        }
    }
    .browse-link{
        color: #2CA0DA;
        text-decoration: underline;

    }
    .btm-txt{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #676767;
        padding: 0 20px;

    }
}

.uploaded-files{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    .file-preview{
        width: calc((100% / 5) - 10px );
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .pro-pic{
            max-width: 70px;
            display: block;
        }
        .close-btn{
            padding: 0;
            position: absolute;
            background-color: #e5e5e7;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            right: 0;
            top: 0;
            img{
                max-width: 7px;
            }
        }
    }
}
}

.groups{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    li{
        list-style: none;
        background: #0096DF38;
        border-radius: 18px;
        color: #0096DF;
        font-size: 16px;
        margin-right: 23px;
        padding: 5px 7px 5px 20px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        @media ($sm-1679){
            margin-right: 20px;
            font-size: 15px;
        }
        @media ($sm-1199){
            margin-right: 15px;
            font-size: 14px;
        }
        @media ($sm-767){
            margin-right: 10px;
        }
        @media ($sm-579){
            margin-left: 10px;
        }
        span{
            margin-left: 35px;
            width: 27px;
            cursor: pointer;
            img{
                max-width: 100%;
            }
            @media ($sm-1679){
                margin-left: 30px;
            }
            @media ($sm-1441){
                margin-left: 25px;
            }
            @media ($sm-1199){
                margin-left: 20px;
            }
            @media ($sm-991){
                margin-left: 15px;
            }
            @media ($sm-579){
                margin-left: 10px;
            }
        }
    }
}
.req{
    color: #dc3545 !important;
}