
@import 'partials';
body{
    font-family: $primaryFont;
    font-size: 16px;
    font-weight: 400;
}
a{
    text-decoration: none;
}

.title{
    font-size: 36px;
    font-weight: 600;
    color: #1E1E1E;
    @media ($sm-1679){
        font-size: 34px;
    }
    @media ($sm-1441){
        font-size: 32px;
    }
    @media ($sm-1199){
        font-size: 30px;
    }
    @media ($sm-991){
        font-size: 28px;
    }
    @media ($sm-767){
        font-size: 26px;
    }
}


