@import "partials";
.header {
    .header-inner {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #c0d5ee;
        padding: 0px 20px 0px 49px;
        border-radius: 40px 0 0 0;
        @media ($sm-1679) {
            padding: 0px 15px 0px 40px;
        }
        .user-details {
            display: flex;
            align-items: center;

            .user-drop {
                padding: 20px 20px;
                @media($sm-1679){
                    padding: 15px 15px;
                }
                @media($sm-991){
                    padding: 10px;
                }
                .name{
                    display: none;
                }
            }
            .user-name {
                display: flex;
                align-items: center;
                font-weight: 400;
                font-size: 15px;
                line-height: 100%;
                letter-spacing: 0px;
                color: $primaryColor;
                @media($sm-1679){
                    font-size: 14px;
                }
                @media($sm-1481){
                    font-size: 13px;
                }
            }
            .user-image {
                width: 48px;
                height: 48px;
                border: 2px solid transparent;
                border-radius: 48px;
                margin-right: 7px;
                @media($sm-1679){
                    width: 40px;
                    height: 40px;
                }
                @media($sm-1199){
                    width: 35px;
                    height: 35px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50px;
                }
            }
            .notification {
                padding: 0px 14px;
                position: relative;
                background-color: #FFFFFFD6;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                @media($sm-1679){
                    width: 40px;
                    height: 40px;
                    padding: 0px 12px;
                }
                @media($sm-1199){
                    width: 35px;
                    height: 35px;
                }
                .no-of-notification {
                    position: absolute;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 100%;
                    letter-spacing: 0px;
                    color: $white;
                    background: #25b0f0;
                    width: 27px;
                    height: 27px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    top: -9px;
                    right: 2px;
                    @media($sm-1679){
                        font-size: 14px;
                        width: 25px;
                        height: 25px;
                        top: -6px;
                    }
                    @media($sm-1481){
                        font-size: 13px;
                        width: 22px;
                        height: 22px;
                        top: -4px;
                    }
                }
            }
        }
    }
    // .sub-header {
    //     background: #b1c5e0;
    //     padding-left: 30px;
    //     border-radius: 10px;
    //     .search-container {
    //         padding: 15px;

    //         display: flex;
    //         align-items: center;
    //         justify-content: space-between;
    //         @media($sm-1679){
    //             padding: 12px;
    //         }
    //         @media($sm-479){
    //             flex-direction: column;
    //         }
    //         .search-box {
    //             display: flex;
    //             align-items: center;
    //             position: relative;
    //             width: 100%;
    //             max-width: 1080px;
    //             @media ($sm-1679) {
    //                 max-width: 70%;
    //             }
    //             @media($sm-991){
    //                 max-width: 55%;
    //             }
    //             @media($sm-479){
    //                 max-width: 100%;
    //                 margin-bottom: 5px;
    //             }

    //         }
    //         .form-control {
    //             border: none;
    //             outline: none;
    //             flex-grow: 1;
    //             padding: 5px;
    //             border-radius: 30px;
    //             background: #fff;
    //             border-radius: 30px;
    //             padding: 10px 100px 10px 10px;
    //             margin-right: 0;
    //             max-width: 100%;
    //             font-weight: 500;
    //             font-size: 17px;
    //             line-height: 100%;
    //             letter-spacing: 0px;
    //             color: #04397c;
    //             height: 56px;
    //             position: relative;
    //             padding-left: 15px;
    //             @media ($sm-1679) {
    //                 max-width: 100%;
    //                 height: 42px;
    //                 font-size: 15px;
    //             }
    //             @media($sm-1481){
    //                 height: 42px;
    //                 font-size: 14px;
    //             }
    //             @media($sm-1199){
    //                 height: 35px;
    //                 font-size: 12px;
    //             }
    //             &::placeholder {
    //                 color: rgb(4 57 124 / 25%);
    //             }
    //             &:focus{
    //                 outline: none;
    //                 box-shadow: none;
    //             }
    //         }
    //     }

    //     .search-icons {
    //         display: flex;
    //         align-items: center;
    //         position: absolute;
    //         right: 7px;
    //     }
    //     .search-icons button {
    //         background: #25b0f0;
    //         border: none;
    //         color: $white;
    //         border-radius: 50%;
    //         width: 48px;
    //         height: 48px;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //         margin-left: 5px;
    //         @media ($sm-1679) {
    //             width: 30px;
    //             height: 30px;
    //         }
    //         @media($sm-1199){
    //             width: 24px;
    //             height: 24px;
    //         }

    //         img {
    //             height: 16px;
    //             @media($sm-1679){
    //                 height: 12px;
    //             }
    //         }
    //         &.filter-icon {
    //             background-color: transparent;
    //         }
    //     }
    //     .add-rental-btn {
    //         color: $white;
    //         font-weight: 500;
    //         font-size: 15px;
    //         line-height: 100%;
    //         letter-spacing: 0px;
    //         background-color: #25b0f0;
    //         height: 54px;
    //         display: flex;
    //         align-items: center;
    //         border: 0px;
    //         width: 157px;
    //         border-radius: 50px;
    //         justify-content: center;
    //         @media ($sm-1679) {
    //             height: 42px;
    //             font-size: 13px;
    //             width: 140px;
    //         }
    //         @media($sm-1199){
    //             height: 35px;
    //             font-size: 11px;
    //         }
    //         @media($sm-479){
    //             width: 100%;
    //         }
    //         .plus-icon {
    //             margin-right: 10px;
    //             flex-shrink: 0px;
    //             @media($sm-1679){
    //                 width: 15px;
    //                 height: 21px;
    //                 margin-right: 13px;
    //             }
    //             img{
    //                 width: 100%;
    //                 height: 100%;
    //             }
    //         }
    //     }
    // }
}
