@import "partials";
.header {
    display: flex;
    flex-direction: column;
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #c0d5ee;
        padding:20px 20px 20px 49px;
        border-radius: 40px 0 0 0;
        @media ($sm-1679) {
            padding: 15px 15px 15px 40px;
        }
        @media (max-width:650px) {
            justify-content: center;
            flex-direction: column-reverse;
            gap: 15px;
            padding: 10px 20px;
        }
        .user-details {
            display: flex;
            align-items: center;
            margin-left: auto;
            @media ($sm-767) {
                margin-left: auto;
            }
            .user-drop {
                padding: 0px 20px;
                @media ($sm-1679) {
                    padding: 0px 15px;
                }
                @media ($sm-991) {
                    padding: 0px;
                }
                .usr-dtl {
                    display: flex;
                    margin-right: 20px;
                    @media ($sm-1679){
                        margin-right: 15px;
                    }
                    @media ($sm-1199){
                        margin-right: 10px;
                    }
                }
                .usr-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    @media ($sm-579){
                        display: none;
                    }
                }
                .name {
                    font-size: 18px;
                    font-weight: 600;
                    color: #000000;
                    margin-bottom: 6px;
                    @media ($sm-1679) {
                        font-size: 16px;
                    }
                    @media ($sm-1441) {
                        font-size: 15px;
                    }
                    @media ($sm-1199) {
                        font-size: 14px;
                    }
                    @media ($sm-767) {
                        font-size: 13px;
                    }
                }
                .role {
                    font-size: 12px;
                    color: #000000;
                }
                .dropdown-menu{
                    background-color: #c0d5ee;
                    .dropdown-item{
                        font-size: 14px;
                        color: #000000;
                        &:hover{
                            background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
                        }
                    }
                }
            }
            .user-name {
                display: flex;
                align-items: center;
                font-weight: 400;
                font-size: 15px;
                line-height: 100%;
                letter-spacing: 0px;
                color: $primaryColor;
                @media ($sm-1679) {
                    font-size: 14px;
                }
                @media ($sm-1481) {
                    font-size: 13px;
                }
                &::after {
                    color: #4b164c;
                    border-top: 6px solid;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    margin-top: -5px;
                }
            }
            .user-image {
                width: 48px;
                height: 48px;
                border: 2px solid transparent;
                border-radius: 48px;
                margin-right: 7px;
                @media ($sm-1679) {
                    width: 40px;
                    height: 40px;
                }
                @media ($sm-1199) {
                    width: 35px;
                    height: 35px;
                }
                &.alphabet{
                    background-color: #d8e1ed;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        color: #216A8D;
                        font-size: 16px;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50px;
                }
            }
            .notification {
                padding: 0px 14px;
                position: relative;
                background-color: #ffffffd6;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                @media ($sm-1679) {
                    width: 40px;
                    height: 40px;
                    padding: 0px 12px;
                }
                @media ($sm-1199) {
                    width: 35px;
                    height: 35px;
                    padding: 0px 9px;
                }
                @media ($sm-991){
                    margin-right: 10px;
                }
                @media ($sm-579){
                    margin-right: 7px;
                }
                .no-of-notification {
                    position: absolute;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 100%;
                    letter-spacing: 0px;
                    color: $white;
                    background: #25b0f0;
                    width: 27px;
                    height: 27px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    top: -9px;
                    right: 2px;
                    @media ($sm-1679) {
                        font-size: 14px;
                        width: 25px;
                        height: 25px;
                        top: -6px;
                    }
                    @media ($sm-1481) {
                        font-size: 13px;
                        width: 22px;
                        height: 22px;
                        top: -4px;
                    }
                }
                .notification-icon {
                    img {
                        display: block;
                        max-width: 100%;
                    }
                }
            }
        }
        .search-control {
            position: relative;
            margin-left: 40px;
            @media (max-width:650px){
                margin-left: 0;
                width: 100%;
            }
            .txt {
                width: 385px;
                height: 45px;
                border-radius: 30px;
                border: 1px solid #fff;
                background: #ffffff;
                font-size: 16px;
                color: #aaaaaa;
                font-weight: 400;
                outline: 0;
                padding: 5px 50px 5px 20px;
                @media ($sm-1679) {
                    height: 42px;
                    font-size: 14px;
                    width: 350px;
                }
                @media ($sm-1199) {
                    width: 300px;
                }
                @media ($sm-991) {
                    width: 250px;
                    height: 38px;
                    padding: 5px 40px 5px 15px;
                }
                @media (max-width:650px){
                    width: 100%;
                }
                &::placeholder {
                    opacity: 1;
                    color: #aaaaaa;
                }
            }
            .img {
                position: absolute;
                margin: auto;
                inset: 0 20px 0 auto;
                max-width: 26px;
                @media ($sm-1199) {
                    max-width: 20px;
                }
            }
        }
    }
}
