@import "partials";
.header {
    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #c0d5ee;
        padding: 0px 20px 0px 49px;
        border-radius: 40px 0 0 0;
        @media ($sm-1679) {
            padding: 0px 15px 0px 40px;
        }
        .user-details {
            display: flex;
            align-items: center;
            margin-left: auto;

            .user-drop {
                padding: 20px 20px;
                @media ($sm-1679) {
                    padding: 15px 15px;
                }
                @media ($sm-991) {
                    padding: 10px;
                }
                .usr-dtl{
                    display: flex;
                    margin-right: 20px;
                }
                .usr-info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .name {
                    font-size: 18px;
                    font-weight: 600;
                    color: #000000;
                    margin-bottom: 6px;
                    @media ($sm-1679){
                        font-size: 17px;
                    }
                    @media ($sm-1441){
                        font-size: 16px;
                    }
                    @media ($sm-1199){
                        font-size: 15px;
                    }
                    @media ($sm-767){
                        font-size: 14px;
                    }
                }
                .role{
                    font-size: 12px;
                    color: #000000;
                }
            }
            .user-name {
                display: flex;
                align-items: center;
                font-weight: 400;
                font-size: 15px;
                line-height: 100%;
                letter-spacing: 0px;
                color: $primaryColor;
                @media ($sm-1679) {
                    font-size: 14px;
                }
                @media ($sm-1481) {
                    font-size: 13px;
                }
                &::after{
                    color: #4B164C;
                    border-top: 6px solid;
                    border-right: 5px solid transparent;
                    border-left: 5px solid transparent;
                    margin-top: -5px;
                }
            }
            .user-image {
                width: 48px;
                height: 48px;
                border: 2px solid transparent;
                border-radius: 48px;
                margin-right: 7px;
                @media ($sm-1679) {
                    width: 40px;
                    height: 40px;
                }
                @media ($sm-1199) {
                    width: 35px;
                    height: 35px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50px;
                }
            }
            .notification {
                padding: 0px 14px;
                position: relative;
                background-color: #ffffffd6;
                width: 48px;
                height: 48px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                @media ($sm-1679) {
                    width: 40px;
                    height: 40px;
                    padding: 0px 12px;
                }
                @media ($sm-1199) {
                    width: 35px;
                    height: 35px;
                    padding: 0px 9px;
                }
                .no-of-notification {
                    position: absolute;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 100%;
                    letter-spacing: 0px;
                    color: $white;
                    background: #25b0f0;
                    width: 27px;
                    height: 27px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50px;
                    top: -9px;
                    right: 2px;
                    @media ($sm-1679) {
                        font-size: 14px;
                        width: 25px;
                        height: 25px;
                        top: -6px;
                    }
                    @media ($sm-1481) {
                        font-size: 13px;
                        width: 22px;
                        height: 22px;
                        top: -4px;
                    }
                }
                .notification-icon{
                    img{
                        display: block;
                        max-width: 100%;
                    }
                }
            }
        }
        .search-control {
            position: relative;
            .txt {
                width: 385px;
                height: 45px;
                border-radius: 30px;
                border: 1px solid #fff;
                background: #ffffff;
                font-size: 16px;
                color: #aaaaaa;
                font-weight: 400;
                outline: 0;
                padding: 5px 50px 5px 20px;
                &::placeholder {
                    opacity: 1;
                    color: #aaaaaa;
                }
            }
            .img {
                position: absolute;
                margin: auto;
                inset: 0 20px 0 auto;
            }
        }
    }
}
