@import "partials";
.message-footer-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    padding: 25px 0;
    inset: auto 0 0 0;
    position: absolute;
    inset: auto 0 0 0;
    p {
        margin: 0;
        padding: 0;
        color: #000000;
        font-size: 16px;
        font-weight: 300;
    }
}
.message-body-wrap {
    width: 100%;
    height: calc(100vh - 163px);
    display: flex;
    overflow: hidden;
    @media (max-width:600px){
        flex-direction: column;
        overflow-y: auto;
        height: calc(100vh - 120px);
    }
    .message-left-wrap {
        width: 323px;
        height: 100%;
        border-right: 1px solid #f3f3f3;
        @media ($sm-767){
            width: 280px;
        }
        @media (max-width:600px){
            width: 100%;
            height: auto;
        }
        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #f3f3f3;
            padding: 10px 25px;
            height: 75px;
            @media ($sm-1679){
                height: 70px;
            }
            @media ($sm-1441){
                height: 60px;
            }
            .msg-title {
                font-size: 20px;
                font-weight: 600;
                color: #000000;
                @media ($sm-1679){
                    font-size: 18px;
                }
                @media ($sm-1441){
                    font-size: 17px;
                }
                @media ($sm-1199){
                    font-size: 16px;
                }
                @media ($sm-991){
                    font-size: 15px;
                }
            }
            .icon{
                width: 33px;
                @media ($sm-1679){
                    width: 30px;
                }
                @media ($sm-1441){
                    width: 28px;
                }
                @media ($sm-1199){
                    width: 26px;
                }
                @media ($sm-991){
                    width: 24px;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .msg-listing-wrap {
            padding: 10px 24px 0 24px;
            height: calc(100% - 75px);
            overflow-y: auto;
            .search {
                padding: 0 0 10px 0;
                .txt {
                    height: 48px;
                    width: 100%;
                    border-radius: 12px;
                    background: #f3f3f3;
                    outline: 0;
                    border: 0;
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.4);
                    font-weight: 400;
                    padding: 5px 20px;
                    @media ($sm-1679){
                        height: 44px;
                    }
                    @media ($sm-1199){
                        height: 40px;
                    }
                    &::placeholder {
                        color: rgba(0, 0, 0, 0.4);
                        opacity: 1;
                    }
                }
            }
            .listing {
                margin: 0;
                padding: 0;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 15px;
                    border-radius: 12px;
                    padding: 12px;
                    .img {
                        margin: 0;
                        padding: 0;
                        width: 48px;
                        height: 48px;
                        flex: 0 0 48px;
                        @media ($sm-1679){
                            width: 44px;
                            height: 44px;
                            flex: 0 0 44px;
                        }
                        @media ($sm-1441){
                            width: 40px;
                            height: 40px;
                            flex: 0 0 40px;
                        }
                        @media ($sm-1199){
                            width: 38px;
                            height: 38px;
                            flex: 0 0 38px;
                        }
                        @media ($sm-991){
                            width: 36px;
                            height: 36px;
                            flex: 0 0 36px;
                        }
                        @media ($sm-767){
                            width: 32px;
                            height: 32px;
                            flex: 0 0 32px;
                        }
                        img {
                            border-radius: 12px;
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            @media ($sm-1199){
                                border-radius: 10px;
                            }
                            @media ($sm-991){
                                border-radius: 8px;
                            }
                            @media ($sm-767){
                                border-radius: 5px;
                            }
                        }
                    }
                    .name-msg-wrap {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        margin-right: auto;
                        max-width: 145px;
                        .name {
                            color: #000000;
                            font-size: 14px;
                            font-weight: 600;
                            line-height: 1.2;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            @media ($sm-1199){
                                font-size: 13px;
                            }
                        }
                        .msg {
                            font-size: 12px;
                            font-weight: 400;
                            color: rgba(0, 0, 0, 0.4);
                            line-height: 1.2;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .time {
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.3);
                        @media ($sm-1679){
                            font-size: 13px;
                        }
                        @media ($sm-1199){
                            font-size: 12px;
                        }
                    }
                    &.active {
                        background: rgba(97, 94, 240, 0.06);
                    }
                    & + li {
                        margin-top: 8px;
                    }
                }
            }
        }
    }
    .message-content-wrap {
        flex: 1;
        height: 100%;
        position: relative;
        @media (max-width:600px){
            height: auto;
            overflow-y: visible;;
        }
        .head-wrap {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 15px 24px 15px 24px;
            border-bottom: 1px solid #f3f3f3;
            height: 75px;
            @media ($sm-1199){
                gap: 10px;
            }
            .img {
                margin: 0;
                padding: 0;
                width: 40px;
                height: 40px;
                flex: 0 0 40px;
                @media ($sm-1679){
                    width: 35px;
                    height: 35px;
                    flex: 0 0 35px;
                }
                @media ($sm-1199){
                    width: 30px;
                    height: 30px;
                    flex: 0 0 30px;
                }
                img {
                    border-radius: 12px;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            .name-status-wrap {
                display: flex;
                flex-direction: column;
                gap: 2px;
                margin-right: auto;
                .name {
                    color: #000000;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 1.2;
                    @media ($sm-1679){
                        font-size: 18px;
                    }
                    @media ($sm-1441){
                        font-size: 16px;
                    }
                    @media ($sm-1199){
                        font-size: 15px;
                    }
                    @media ($sm-991){
                        font-size: 14px;
                    }
                }
                .status {
                    font-size: 12px;
                    font-weight: 600;
                    color: rgba(0, 0, 0, 0.4);
                    line-height: 1.2;
                    position: relative;
                    padding: 0 0 0 15px;
                    &:after {
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background: #68d391;
                        position: absolute;
                        left: 0;
                        top: 2px;
                        content: "";
                    }
                }
            }
        }
        .body-msg-wrap {
            padding: 25px 35px;
            height: calc(100vh - 350px);
            overflow-y: auto;
            .chat-block {
                display: flex;
                gap: 15px;
                .img {
                    margin: 0;
                    padding: 0;
                    width: 40px;
                    height: 40px;
                    flex: 0 0 40px;
                    @media ($sm-1679){
                        width: 35px;
                        height: 35px;
                        flex: 0 0 35px;
                    }
                    @media ($sm-1199){
                        width: 30px;
                        height: 30px;
                        flex: 0 0 30px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 9px;
                        object-fit: cover;
                    }
                }
                .chat-content-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    align-items: start;
                    flex: 1;
                    max-width: 70%;
                    .txt {
                        background: #f1f1f1;
                        border-radius: 12px;
                        padding: 8px 15px;
                        font-size: 14px;
                        color: #000000;
                        margin: 0;
                        @media ($sm-579){
                            font-size: 13px;
                            padding: 8px 10px;
                        }
                    }
                }
                &.chat-block-right {
                    justify-content: end;
                    .img {
                        order: 2;
                    }
                    .chat-content-wrap {
                        justify-content: end;
                        align-items: end;
                        .txt {
                            background: #0096df;
                            color: #fff;
                        }
                    }
                }
                & + .chat-block {
                    padding-top: 15px;
                }
            }
        }
        .footer-wrap {
            position: relative;
            background: #f8fbfc;
            padding: 24px;
            inset: auto 0 0 0;
            position: absolute;
            .text {
                width: 100%;
                border-radius: 12px;
                height: 63px;
                border: 1px solid #e2e8f0;
                padding: 5px 20px;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.4);
                outline: 0;
                &::placeholder {
                    opacity: 1;
                    color: rgba(0, 0, 0, 0.4);
                }
            }
            .img {
                position: absolute;
                inset: 0 45px 0 auto;
                margin: auto;
                cursor: pointer;
            }
        }
    }
}
