@import "partials";

.upload-modal{
    .modal-dialog{
        max-width: 942px;
        .modal-content{
            border-radius: 40px;
            padding: 0px;
            .modal-header{
                padding: 30px 39px;
                border-bottom: 1px solid #B3C6DD69;
                .modal-title{

                    font-weight: 500;
                    font-size: 20px;
                    color: #092837;

                }
            }
            .modal-body{
                padding: 40px 45px;
                border-bottom: 1px solid #D8E1ED;

                .upload-box{
                    border: 1px dashed #0096DF;
                    background: #0096DF17;
                    min-height: 170px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 15px;
                    .txt{
                        color: #B3C6DD;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                
                
                
                    }
                    .upload-ico{
                        padding-bottom: 13px;
                    }
                    .browse-link{
                        color: #2CA0DA;
                        text-decoration: underline;
                
                    }
                    .btm-txt{
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: #676767;
                
                    }
                }
                .download-btn{
                    width: 236px;
                    height: 46px;
                    border-radius: 10px;
                    color: #fff;
                    font-weight: 400;
                    font-size: 13px;
                    background-color: #85A3CC;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    margin-top: 38px;
                    
                }

            }
            .modal-footer {
                justify-content: space-between;
                border-top: none;
                padding: 30px 65px;
                &.bottom-btn-sec {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  
                    border-top: 1px solid #D8E1ED;
                    @media ($sm-479) {
                        padding: 15px 10px;
                        gap: 10px;
                    }
                    .btn {
                        width: 46%;
                        height: 52px;
                         background: #DFE6EA;
                        color:  #517C90;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        font-weight: 400;
                        font-size: 20px;
                        letter-spacing: 0px;
                        margin-right: 20px;
                        justify-content: center;
                        @media ($sm-1679) {
                            height: 48px;
                        }
                        @media ($sm-767) {
                            width: auto;
                            height: 45px;
                            font-size: 12px;
                        }
                        @media ($sm-479) {
                            margin-right: 0;
                        }
                        .img {
                            margin-right: 9px;
                        }
                        &.btn-submit {
                            background: linear-gradient(90deg, #2CA0DA 0%, #3982A7 100%);
                            color: $white;
                            margin-right: 0px;
                        }
                    }
                }
            }
        }


    }

    .form-label {
        font-size: 16px;
        @media ($sm-991) {
            font-size: 14px;
        }
    }
    .inner-sec{
        padding: 20px 166px;
    }
    .input-grp{
        padding-bottom: 35px;
        &:last-child{
            padding-bottom: 0px;
        }
        .txt{
            color: #0096DF;
        }
        .input-wrp{
            position: relative;
            .error{
                color: red;
                font-size: 14px;
                position: absolute;
            }
        }
    }
    .form-control {
        border: 1px solid #D4D7E3;
        height: 48px;
        border-radius: 12px;
        outline: 0;
        box-shadow: none;
        font-weight: 400;
        font-size: 16px;
        background-color:#F7FBFF;
    
        &::placeholder{
            color: #8897AD; 
        }
        @media ($sm-1679) {
            height: 46px;
            font-size: 16px;
        }
        @media ($sm-991) {
            height: 45px;
        }
    
    }
}

.transaction-view-modal{
    .modal-dialog{
        max-width: 1642px;
        .modal-content{
            border-radius: 40px;
            @media ($sm-1679){
                margin: 40px;
            }
            .modal-header{
                padding: 30px 39px;
                border-bottom: 1px solid #B3C6DD69;
                .modal-title{
                    font-weight: 500;
                    font-size: 20px;
                    color: #092837;
                }
            }
            .modal-body{
                padding: 36px 51px 49px;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 4px #D9D9D9;
                }
                &::-webkit-scrollbar-thumb {
                background-color: #91ADBB;
                outline: 1px solid #D9D9D9;
                }
                .info-round-wrp{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content:flex-start;
                    gap: 18px;
                    margin-bottom: 40px;
                    .info-round-blks{
                        background-color: #ECF5FF;
                        border-radius: 20px;
                        padding: 24px 33px;
                        width: calc((100% / 4) - 18px);
                        flex:0 0 auto;
                        .box-title{
                            font-size: 16px;
                        }
                        .box-value{
                            font-size: 18px;
                            font-weight: 500;
                            color: $primaryColor;
                        }
                    }
                }
                .table-wrap{

                }
            }
        }
    }
}

.note-modal{
    .modal-dialog{
        max-width: 809px;
        .modal-content{
            border-radius: 40px;
            .modal-header{
                padding: 35px 45px;
                border-bottom: 1px solid #B3C6DD69;
                .btn-close{
                    width: 29px;
                    height: 29px;
                    border-radius: 29px;
                    background-color: #F2F5FA;
                    font-size: 10px;
                    padding: 0;
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    box-shadow: none;
                    outline: none;
                }
                .modal-title{
                    font-weight: 500;
                    font-size: 20px;
                    color: #092837;
                }
            }
            .modal-body{
                padding: 30px 45px;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 4px #D9D9D9;
                }
                &::-webkit-scrollbar-thumb {
                background-color: #91ADBB;
                outline: 1px solid #D9D9D9;
                }
                .notes-wrp{
                    border: 1px solid #D4D7E3;
                    background-color: #F7FBFF;
                    border-radius: 12px;
                    padding: 43px;
                }
            }
            .modal-footer{
                padding: 35px 45px;
                .btn-primary{
                    border-radius: 35px;
                    height: 49px;
                    width: 226px;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:#0096DF;
                    border:none;
                    margin-left: 16px;
                    &:hover{
                        background: #1081bad6 ;
                    }
                    .icon{
                        width: 11px;
                        margin-right: 18px;
                    }
                }
                .btn-cancel{
                    border-radius: 35px;
                    height: 49px;
                    width: 226px;
                    font-size: 20px;
                    color: #0096DF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:transparent;
                    border:1px solid #0096DF;
                    margin-left: 16px;
                    &:hover{
                        background: #1081bad6 ;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.add-new-msg-modal{
    .modal-dialog{
        max-width: 412px;
        .modal-content{
            border-radius: 40px;
            .modal-header{
                padding: 35px 45px;
                border-bottom: 1px solid #B3C6DD69;
                .btn-close{
                    width: 29px;
                    height: 29px;
                    border-radius: 29px;
                    background-color: #F2F5FA;
                    font-size: 10px;
                    padding: 0;
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    box-shadow: none;
                    outline: none;
                }
                .modal-title{
                    font-weight: 500;
                    font-size: 20px;
                    color: #092837;
                }
            }
            .modal-body{
                padding: 30px 45px;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 4px #D9D9D9;
                }
                &::-webkit-scrollbar-thumb {
                background-color: #91ADBB;
                outline: 1px solid #D9D9D9;
                }
                .notes-wrp{
                    border: 1px solid #D4D7E3;
                    background-color: #F7FBFF;
                    border-radius: 12px;
                    padding: 43px;
                }
            }
            .modal-footer{
                padding: 35px 45px;
                .btn-primary{
                    border-radius: 35px;
                    height: 49px;
                    width: 226px;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:#0096DF;
                    border:none;
                    margin-left: 16px;
                    &:hover{
                        background: #1081bad6 ;
                    }
                    .icon{
                        width: 11px;
                        margin-right: 18px;
                    }
                }
                .btn-cancel{
                    border-radius: 35px;
                    height: 49px;
                    width: 226px;
                    font-size: 20px;
                    color: #0096DF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:transparent;
                    border:1px solid #0096DF;
                    margin-left: 16px;
                    &:hover{
                        background: #1081bad6 ;
                        color: #fff;
                    }
                }
            }
        }
    }
}