@import "partials";

.modal{
    .modal-header{
        .btn-close{
            width: 29px;
            height: 29px;
            border-radius: 29px;
            background-image: url(../images/modal-close-btn.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-color: #F2F5FA;
            font-size: 10px;
            padding: 0;
            position: absolute;
            top: 30px;
            right: 30px;
            box-shadow: none;
            outline: none;
            z-index: 3;
        }
    }
    .modal-body{
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 4px #D9D9D9;
        }
        &::-webkit-scrollbar-thumb {
        background-color: #91ADBB;
        outline: 1px solid #D9D9D9;
        }
    }
}
.upload-modal{
    .modal-dialog{
        max-width: 942px;
        .modal-content{
            border-radius: 40px;
            padding: 0px;
            .modal-header{
                padding: 30px 39px;
                @media ($sm-1679){
                    padding: 25px 35px;
                }
                @media ($sm-1441){
                    padding: 25px 30px;
                }
                @media ($sm-1199){
                    padding: 20px 25px;
                }
                @media ($sm-767){
                    padding: 20px 20px;
                }
                border-bottom: 1px solid #B3C6DD69;
                .modal-title{
                    font-weight: 500;
                    font-size: 20px;
                    color: #092837;
                    @media ($sm-1679){
                        font-size: 18px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                    }
                }
            }
            .modal-body{
                padding: 40px 45px;
                border-bottom: 1px solid #D8E1ED;
                @media ($sm-1679){
                    padding: 35px 40px;
                }
                @media ($sm-1441){
                    padding: 35px 35px;
                }
                @media ($sm-1199){
                    padding:30px;
                }
                @media ($sm-767){
                    padding: 20px;
                }

                .upload-box{
                    border: 1px dashed #0096DF;
                    background: #0096DF17;
                    min-height: 170px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 15px;
                    .txt{
                        color: #B3C6DD;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                
                
                
                    }
                    .upload-ico{
                        padding-bottom: 13px;
                    }
                    .browse-link{
                        color: #2CA0DA;
                        text-decoration: underline;
                
                    }
                    .btm-txt{
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 18px;
                        color: #676767;
                
                    }
                }
                .download-btn{
                    width: 236px;
                    height: 46px;
                    border-radius: 10px;
                    color: #fff;
                    font-weight: 400;
                    font-size: 13px;
                    background-color: #85A3CC;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: auto;
                    margin-top: 38px;
                    
                }

            }
            .modal-footer {
                justify-content: space-between;
                border-top: none;
                padding: 30px 60px;
                @media ($sm-1679){
                    padding: 35px 40px;
                }
                @media ($sm-1441){
                    padding: 35px 35px;
                }
                @media ($sm-1199){
                    padding:30px;
                }
                @media ($sm-767){
                    padding: 20px;
                }
                &.bottom-btn-sec {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top: 1px solid #D8E1ED;
                    @media ($sm-579) {
                        gap: 10px;
                    }
                    .btn {
                        max-width: calc(50% - 20px);
                        width: 100%;
                        height: 52px;
                         background: #DFE6EA;
                        color:  #517C90;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        font-weight: 400;
                        font-size: 20px;
                        letter-spacing: 0px;
                        margin-right: 20px;
                        justify-content: center;
                        @media ($sm-1679) {
                            height: 48px;
                        }
                        @media ($sm-767) {
                            height: 40px;
                            font-size: 12px;
                        }
                        @media ($sm-579) {
                            margin: 0;
                            max-width: 100%;
                        }
                        .img {
                            margin-right: 9px;
                        }
                        &.btn-submit {
                            background: linear-gradient(90deg, #2CA0DA 0%, #3982A7 100%);
                            color: $white;
                            margin-right: 0px;
                        }
                    }
                }
            }
        }


    }

    .form-label {
        font-size: 16px;
        @media ($sm-991) {
            font-size: 14px;
        }
    }
    .inner-sec{
        padding: 20px 166px;
    }
    .input-grp{
        padding-bottom: 35px;
        &:last-child{
            padding-bottom: 0px;
        }
        .txt{
            color: #0096DF;
        }
        .input-wrp{
            position: relative;
            .error{
                color: red;
                font-size: 14px;
                position: absolute;
            }
        }
    }
    .form-control {
        border: 1px solid #D4D7E3;
        height: 48px;
        border-radius: 12px;
        outline: 0;
        box-shadow: none;
        font-weight: 400;
        font-size: 16px;
        background-color:#F7FBFF;
    
        &::placeholder{
            color: #8897AD; 
        }
        @media ($sm-1679) {
            height: 46px;
            font-size: 16px;
        }
        @media ($sm-991) {
            height: 45px;
        }
    
    }
}

.set-deadline-modal{
    .modal-dialog{
        max-width: 769px;
        @media ($sm-767){
            max-width: 95%;
        }
        @media ($sm-579){
            max-width: 100%;
        }
        .modal-content{
            border-radius: 40px;
            padding: 0px;
            .modal-header{
                padding: 30px 39px;
                @media ($sm-1679){
                    padding: 25px 35px;
                }
                @media ($sm-1441){
                    padding: 25px 30px;
                }
                @media ($sm-1199){
                    padding: 20px 25px;
                }
                @media ($sm-767){
                    padding: 20px 20px;
                }
                border-bottom: 1px solid #B3C6DD69;
                .modal-title{
                    font-weight: 500;
                    font-size: 20px;
                    color: #092837;
                    @media ($sm-1679){
                        font-size: 18px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                    }
                }
            }
            .modal-body{
                padding: 40px 45px;
                border-bottom: 1px solid #D8E1ED;
                @media ($sm-1679){
                    padding: 35px 40px;
                }
                @media ($sm-1441){
                    padding: 35px 35px;
                }
                @media ($sm-1199){
                    padding:30px;
                }
                @media ($sm-767){
                    padding: 20px;
                }
                .set-dealine-wrp{
                    margin: 34px 0;
                }

            }
            .modal-footer {
                justify-content: space-between;
                border-top: none;
                padding: 30px 60px;
                @media ($sm-1679){
                    padding: 35px 40px;
                }
                @media ($sm-1441){
                    padding: 35px 35px;
                }
                @media ($sm-1199){
                    padding:30px;
                }
                @media ($sm-767){
                    padding: 20px;
                }
                &.bottom-btn-sec {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-top: 1px solid #D8E1ED;
                    @media ($sm-579) {
                        gap: 10px;
                    }
                    .btn {
                        max-width: calc(50% - 20px);
                        width: 100%;
                        height: 52px;
                         background: #DFE6EA;
                        color:  #517C90;
                        border-radius: 50px;
                        display: flex;
                        align-items: center;
                        font-weight: 400;
                        font-size: 20px;
                        letter-spacing: 0px;
                        margin-right: 20px;
                        justify-content: center;
                        @media ($sm-1679) {
                            height: 48px;
                        }
                        @media ($sm-767) {
                            height: 40px;
                            font-size: 12px;
                        }
                        @media ($sm-579) {
                            margin: 0;
                            max-width: 100%;
                        }
                        .img {
                            margin-right: 9px;
                        }
                        &.btn-submit {
                            background: linear-gradient(90deg, #2CA0DA 0%, #3982A7 100%);
                            color: $white;
                            margin-right: 0px;
                        }
                    }
                }
            }
        }


    }

    .form-label {
        font-size: 16px;
        @media ($sm-991) {
            font-size: 14px;
        }
    }
    .inner-sec{
        padding: 20px 166px;
    }
    .input-grp{
        padding-bottom: 35px;
        &:last-child{
            padding-bottom: 0px;
        }
        .txt{
            color: #0096DF;
        }
        .input-wrp{
            position: relative;
            .error{
                color: red;
                font-size: 14px;
                position: absolute;
            }
        }
    }
    .form-control {
        border: 1px solid #D4D7E3;
        height: 48px;
        border-radius: 12px;
        outline: 0;
        box-shadow: none;
        font-weight: 400;
        font-size: 16px;
        background-color:#F7FBFF;
    
        &::placeholder{
            color: #8897AD; 
        }
        @media ($sm-1679) {
            height: 46px;
            font-size: 15px;
        }
        @media ($sm-1199){
            font-size: 14px;
        }
        @media ($sm-991){
            font-size: 13px;
        }
        @media ($sm-991) {
            height: 45px;
        }
    
    }
}

.transaction-view-modal{
    .modal-dialog{
        max-width: 1642px;
        .modal-content{
            border-radius: 40px;
            @media ($sm-1679){
                margin: 40px;
            }
            @media ($sm-1199){
                margin: 30px;
            }
            @media ($sm-991){
                margin: 20px;
                border-radius: 20px;
            }
            .modal-header{
                padding: 30px 39px;
                border-bottom: 1px solid #B3C6DD69;
                @media ($sm-1679){
                    padding: 24px 35px;
                }
                @media ($sm-1199){
                    padding: 20px 30px;
                }
                @media ($sm-991){
                    padding: 20px 30px;
                }
                // .btn-close{
                //     background: url(../img/modal-close-btn.svg) no-repeat center;
                //     box-shadow: none;
                //     outline: none;
                //     @media ($sm-1199){
                //         font-size: 0px;
                //     }
                // }
                .modal-title{
                    font-weight: 500;
                    font-size: 20px;
                    color: #092837;
                    @media ($sm-1679){
                        font-size: 18px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                    }
                }
            }
            .modal-body{
                padding: 36px 51px 49px;
                @media ($sm-1679){
                    padding: 30px 45px 45px;
                }
                @media ($sm-1199){
                    padding: 25px 40px 40px;
                }
                @media ($sm-991){
                    padding: 20px 30px 30px;
                }
                @media ($sm-579){
                    padding: 20px;
                }
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 4px #D9D9D9;
                }
                &::-webkit-scrollbar-thumb {
                background-color: #91ADBB;
                outline: 1px solid #D9D9D9;
                }
                .info-round-wrp{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content:flex-start;
                    gap: 18px;
                    margin-bottom: 40px;
                    @media ($sm-1679){
                        margin-bottom: 30px;
                    }
                    @media ($sm-1441){
                        margin-bottom: 25px;
                    }
                    @media ($sm-1199){
                        margin-bottom: 20px;
                    }
                    @media ($sm-991){
                        gap: 10px;
                    }
                    @media ($sm-479){
                        flex-direction: column;
                    }
                    .info-round-blks{
                        background-color: #ECF5FF;
                        border-radius: 20px;
                        padding: 24px 33px;
                        width: calc((100% / 4) - 18px);
                        flex:0 0 auto;
                        @media ($sm-1679){
                            padding: 20px 30px;
                        }
                        @media ($sm-1441){
                            padding: 20px 25px;
                        }
                        @media ($sm-1199){
                            padding: 20px;
                        }
                        @media ($sm-991){
                            width: calc((100% / 2) - 10px);
                        }
                        @media ($sm-579){
                            padding: 20px;
                        }
                        @media (max-width:550px){
                            padding: 20px;
                            width: 100%;
                        }
                        .box-title{
                            font-size: 16px;
                            @media ($sm-1679){
                                font-size: 15px;
                            }
                            @media ($sm-1199){
                                font-size: 14px;
                            }
                        }
                        .box-value{
                            font-size: 18px;
                            font-weight: 500;
                            color: $primaryColor;
                            @media ($sm-1679){
                                font-size: 16px;
                            }
                            @media ($sm-1199){
                                font-size: 15px;
                            }
                            @media ($sm-767){
                                font-size: 14px;
                            }
                        }
                    }
                }
                .table-wrap{

                }
            }
        }
    }
    &.billing{
        .modal-dialog{
            max-width: 1239px;
            @media ($sm-767){
                max-width: 95%;
            }
            @media ($sm-579){
                max-width: 100%;
            }
            .modal-content {
                .modal-body{
                    padding: 36px 51px 82px;
                        @media ($sm-1679){
                            padding: 30px 45px 62px;
                        }
                        @media ($sm-1199){
                            padding: 25px 40px 52px;
                        }
                        @media ($sm-991){
                            padding: 20px 30px 30px;
                        }
                        @media ($sm-579){
                            padding: 20px;
                        }
                    .table {
                        th{
                            &.th-amount{
                                width: 48%;
                            }
                        }
                    }
                }
            }
        }
    }
}


.note-modal{
    .modal-dialog{
        max-width: 809px;
        .modal-content{
            border-radius: 40px;
            .modal-header{
                padding: 35px 45px;
                border-bottom: 1px solid #B3C6DD69;
                @media ($sm-1679){
                    padding: 30px 40px;
                }
                @media ($sm-1441){
                    padding: 25px 35px;
                }
                @media ($sm-1199){
                    padding: 20px 30px;
                }
                @media ($sm-991){
                    padding: 20px 25px;
                }
                @media ($sm-579){
                    padding: 20px;
                }
                .btn-close{
                    width: 29px;
                    height: 29px;
                    border-radius: 29px;
                    background-color: #F2F5FA;
                    font-size: 10px;
                    padding: 0;
                    position: absolute;
                    top: 30px;
                    right: 30px;
                    box-shadow: none;
                    outline: none;
                }
                .modal-title{
                    font-weight: 500;
                    font-size: 20px;
                    color: #092837;
                    @media ($sm-1679){
                        font-size: 18px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                    }
                }
            }
            .modal-body{
                padding: 30px 45px;
                @media ($sm-1679){
                    padding: 25px 40px;
                }
                @media ($sm-1441){
                    padding: 20px 35px;
                }
                @media ($sm-1199){
                    padding: 20px 30px;
                }
                @media ($sm-991){
                    padding: 20px 25px;
                }
                @media ($sm-579){
                    padding: 20px;
                }
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 4px #D9D9D9;
                }
                &::-webkit-scrollbar-thumb {
                background-color: #91ADBB;
                outline: 1px solid #D9D9D9;
                }
                .notes-wrp{
                    border: 1px solid #D4D7E3;
                    background-color: #F7FBFF;
                    border-radius: 12px;
                    padding: 43px;
                    font-size: 18px;
                    @media ($sm-1679){
                        padding: 35px;
                        font-size: 16px;
                    }
                    @media ($sm-1441){
                        padding: 30px;
                        font-size: 15px;
                    }
                    @media ($sm-1199){
                        padding: 25px;
                        font-size: 14px;
                    }
                    @media ($sm-991){
                        padding: 20px;
                    }
                }
            }
            .modal-footer{
                padding: 35px 45px;
                @media ($sm-1679){
                    padding: 30px 40px;
                }
                @media ($sm-1441){
                    padding: 25px 35px;
                }
                @media ($sm-1199){
                    padding: 20px 30px;
                }
                @media ($sm-991){
                    padding: 20px 25px;
                }
                @media ($sm-579){
                    padding: 20px;
                }
                .btn-primary{
                    border-radius: 35px;
                    height: 49px;
                    width: 226px;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:#0096DF;
                    border:none;
                    margin-left: 16px;
                    @media ($sm-1679){
                        height: 45px;
                        font-size: 18px;
                        width: 200px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                        margin-left: 10px;
                    }
                    @media ($sm-767){
                        height: 40px;
                    }
                    @media ($sm-479){
                        width: 100%;
                        margin-left: 0px;
                        margin-top: 10px;
                    }
                    &:hover{
                        background: #1081bad6 ;
                    }
                    .icon{
                        width: 11px;
                        margin-right: 18px;
                    }
                }
                .btn-cancel{
                    border-radius: 35px;
                    height: 49px;
                    width: 226px;
                    font-size: 20px;
                    color: #0096DF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:transparent;
                    border:1px solid #0096DF;
                    margin-left: 16px;
                    @media ($sm-1679){
                        height: 45px;
                        font-size: 18px;
                        width: 200px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                        margin-left: 10px;
                    }
                    @media ($sm-767){
                        height: 40px;
                    }
                    @media ($sm-479){
                        width: 100%;
                        margin-left: 0px;
                        margin-top: 10px;
                    }
                    &:hover{
                        background: #1081bad6 ;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.add-new-msg-modal{
    .modal-dialog{
        max-width: 412px;
        @media ($sm-579){
            margin-left: auto;
            margin-right: auto;;
        }
        .modal-content{
            border-radius: 40px;
            .modal-header{
                padding: 32px 28px 28px;
                border-bottom: 1px solid #B3C6DD69;
                @media ($sm-1679){
                    padding: 20px 28px;
                }
                @media ($sm-1199){
                    padding: 15px 28px;
                }
                // .btn-close{
                //     width: 29px;
                //     height: 29px;
                //     border-radius: 29px;
                //     background-color: #F2F5FA;
                //     font-size: 10px;
                //     padding: 0;
                //     position: absolute;
                //     top: 30px;
                //     right: 30px;
                //     box-shadow: none;
                //     outline: none;
                // }
                .modal-title{
                    font-weight: 500;
                    font-size: 20px;
                    color: #092837;
                    @media ($sm-1679){
                        font-size: 18px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                    }
                }
            }
            .modal-body{
                padding: 21px 16px;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 4px #D9D9D9;
                }
                &::-webkit-scrollbar-thumb {
                background-color: #91ADBB;
                outline: 1px solid #D9D9D9;
                }
                .msg-list-wrp{
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    .msg-list{
                        display: flex;
                        flex-wrap: wrap;
                        padding: 12px;
                        margin-top: 8px;
                        border-radius: 12px;
                        cursor: pointer;
                        &:hover{
                            background-color: #615EF00F;
                        }
                        .prof-img{
                            width: 48px;
                            height: 48px;
                            margin-right: 16px;
                            @media ($sm-1679){
                                width: 44px;
                                height: 44px;
                                margin-right: 12px;
                            }
                            @media ($sm-1199){
                                width: 40px;
                                height: 40px;
                                margin-right: 10px;
                            }
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 12px;
                            }
                        }
                        .prof-dtl{
                            display: flex;
                            flex-wrap: wrap;
                            flex: 1;
                            align-items: flex-start;
                            .info{
                                display: flex;
                                flex-grow: 1;
                                flex-direction: column;
                                .name{
                                    color: #000000;
                                    font-weight: 600;
                                    font-size: 14px;
                                }
                                .status{
                                    font-size: 12px;
                                    color: #00000066;
                                }
                            }
                            .time{
                                font-size: 14px;
                                color: #00000066;
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
            .modal-footer{
                padding: 20px 14px;
                .btn-primary{
                    border-radius: 35px;
                    height: 52px;
                    width: 100%;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(90deg, #2CA0DA 0%, #3982A7 100%);
                    border:none;
                    @media ($sm-1679){
                        height: 45px;
                        font-size: 18px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                    }
                    @media ($sm-767){
                        height: 40px;
                    }
                    @media ($sm-479){
                        width:100%;
                    }
                    &:hover{
                        background: linear-gradient(90deg, #3982A7 0%, #2CA0DA 100%);
                    }
                    .icon{
                        width: 11px;
                        margin-right: 18px;
                    }
                }
                .btn-cancel{
                    border-radius: 35px;
                    height: 49px;
                    width: 226px;
                    font-size: 20px;
                    color: #0096DF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:transparent;
                    border:1px solid #0096DF;
                    margin-left: 16px;
                    @media ($sm-1679){
                        height: 45px;
                        font-size: 18px;
                        width: 200px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                        margin-left: 10px;
                    }
                    @media ($sm-767){
                        height: 40px;
                    }
                    @media ($sm-479){
                        width: 100%;
                        margin-left: 0px;
                        margin-top: 10px;
                    }
                    &:hover{
                        background: #1081bad6 ;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.prompt-modal{
    .modal-dialog{
        max-width: 640px;
        @media($sm-1679){
            max-width: 500px;
        }
        @media($sm-579){
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        @media($sm-479){
            max-width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
        .modal-content{
            border-radius: 40px;
            .modal-header{
                padding: 0;
                border-bottom: none;
                // .btn-close{
                //     width: 29px;
                //     height: 29px;
                //     border-radius: 29px;
                //     font-size: 10px;
                //     padding: 0;
                //     position: absolute;
                //     top: 30px;
                //     right: 30px;
                //     box-shadow: none;
                //     outline: none;
                //     background: url(../img/modal-close-btn.svg) #F2F5FA no-repeat center;
                //     background-size: 10px;
                //     opacity: 1;
                //     z-index: 1;
                // }
                .modal-title{
                    font-weight: 500;
                    font-size: 20px;
                    color: #092837;
                }
            }
            .modal-body{
                padding: 21px 86px 0;
                min-height: 130px;
                @media ($sm-1679){
                    padding: 21px 40px 0;
                }
                @media ($sm-1199){
                    padding: 20px 35px 0;
                }
                @media ($sm-991){
                    padding: 20px 30px 0;
                }
                @media ($sm-767){
                    padding: 20px 20px 0;
                }
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 4px #D9D9D9;
                }
                &::-webkit-scrollbar-thumb {
                background-color: #91ADBB;
                outline: 1px solid #D9D9D9;
                }
                .modal-icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: 30px;
                    margin-top: 47px;
                    @media ($sm-1679){
                        margin-bottom: 25px;
                        margin-top: 40px;
                    }
                    @media ($sm-1441){
                        margin-bottom: 20px;
                        margin-top: 35px;
                    }
                    @media ($sm-1199){
                        margin-top:30px;
                        margin-bottom: 15px;
                    }
                    @media ($sm-991){
                        margin-top:25px;
                        margin-bottom: 0px;
                    }
                    @media ($sm-579){
                        margin-top:20px;
                    }
                    .icon-blk{
                        width:144px;
                        height:144px;
                        border-radius: 144px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                        @media ($sm-1679){
                            width: 120px;
                            height: 120px;
                            border-radius: 120px;
                        }
                        @media ($sm-1441){
                            width: 100px;
                            height: 100px;
                            border-radius: 100px;
                        }
                        @media ($sm-1199){
                            width: 80px;
                            height: 80px;
                            border-radius: 80px;
                        }
                        @media ($sm-991){
                            width: 70px;
                            height: 70px;
                            border-radius: 70px;
                        }
                    }
                }
                .prompt-title{
                    font-size: 18px;
                    font-weight: 600;
                    margin: 20px 0 0;
                    text-align: center;
                    color: #0E0E0E;
                    max-width: 242px;
                    text-align: center;
                    margin: 13px auto;
                    @media ($sm-1679){
                        font-size: 17px;
                    }
                    @media ($sm-1441){
                        font-size: 16px;
                    }
                    @media ($sm-1199){
                        font-size: 15px;
                    }
                }
            }
            .modal-footer{
                padding: 50px 86px;
                border: none;
                @media ($sm-1679){
                    padding: 45px 60px;
                }
                @media ($sm-1441){
                    padding: 45px 50px;
                }
                @media ($sm-1199){
                    padding: 40px;
                }
                @media ($sm-991){
                    padding: 30px 40px;
                }
                @media ($sm-991){
                    padding: 30px;
                }
                @media ($sm-767){
                    padding: 20px;
                }

                .btn{
                    border-radius: 35px;
                    margin: 0 8px;
                    height: 49px;
                    width: calc(50% - 16px);
                    font-size: 20px;
                    color: #0096DF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:transparent;
                    border:1px solid #0096DF;
                    &.btn-primary{
                        background: linear-gradient(90deg, #2CA0DA 0%, #3982A7 100%);
                        color: #fff;
                    }
                    &.btn-cancel{
                        background: transparent;
                    }
                    @media ($sm-1679){
                        height: 45px;
                        font-size: 18px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                        height: 40px;
                        margin: 0 5px;
                        width: calc(50% - 10px);
                    }
                    @media ($sm-479){
                        width: 100%;
                        margin-left: 0px;
                        margin-top: 10px;
                    }
                    &:hover{
                        background: #1081bad6 ;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.detail-view-modal{
    .modal-dialog{
        max-width: 753px;
        @media ($sm-767){
            max-width: 95%;
        }
        @media ($sm-579){
            max-width: 100%;
        }
        .modal-content{
            border-radius: 40px;
            .modal-header{
                padding: 35px 37px;
                border-bottom: 1px solid #B3C6DD69;
                @media ($sm-1679){
                    padding: 30px 35px;
                }
                @media ($sm-1199){
                    padding: 20px 30px;
                }
                @media ($sm-991){
                    padding: 20px 25px;
                }
                @media ($sm-579){
                    padding: 20px;
                }
                .modal-title{
                    font-weight: 500;
                    font-size: 20px;
                    color: #092837;
                    @media ($sm-1679){
                        font-size: 18px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                    }
                }
            }
            .modal-body{
                padding: 30px 37px 49px;
                @media ($sm-1679){
                    padding: 25px 35px 40px;
                }
                @media ($sm-1199){
                    padding: 20px 30px 30px;
                }
                @media ($sm-991){
                    padding: 20px 25px 25px;
                }
                @media ($sm-579){
                    padding: 20px;
                }
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 4px #D9D9D9;
                }
                &::-webkit-scrollbar-thumb {
                background-color: #91ADBB;
                outline: 1px solid #D9D9D9;
                }
                .detail-view-wrp{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .dtl-top{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        margin-bottom: 33px;
                        .profile-pic{
                            width: 108px;
                            height: 108px;
                            margin-right: 33px;
                            @media($sm-1679){
                                width: 90px;
                                height: 90px;
                            }
                            @media($sm-1441){
                                width: 80px;
                                height: 80px;
                            }
                            @media($sm-1199){
                                width: 70px;
                                height: 70px;
                            }
                            @media($sm-767){
                                width: 60px;
                                height: 60px;
                            }
                            @media($sm-579){
                                width: 50px;
                                height: 50px;
                            }
                            img{
                                border-radius: 50%;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .dtl-rt{
                            flex: 1;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            .blks{
                                display: flex;
                                flex-direction: column;
                                margin: 0 45px;
                                &:first-child{
                                    margin-left: 0px;
                                }
                                .title{
                                    color: #8B8B8D;
                                    font-size: 16px;
                                    margin-bottom: 13px;
                                    font-weight: 400;
                                    line-height: 1;
                                }
                                .value{
                                    color: #000000;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                    .middle-blk{
                        margin-bottom: 43px;
                        display: flex;
                        flex-direction: column;
                        .title{
                            color: #8B8B8D;
                            font-size: 16px;
                            margin-bottom: 13px;
                            font-weight: 400;
                            line-height: 1;
                        }
                        .tag-wrp{
                            display: flex;
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            .tags{
                                border-radius: 15px;
                                height: 31px;
                                background-color: #F2FBFF;
                                margin-left: 13px;
                                padding: 8px 21px;
                                color: #000000;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 16px;
                                @media ($sm-1679){
                                    font-size: 15px;
                                    margin-left: 10px;
                                }
                                @media ($sm-1441){
                                    font-size: 14px;
                                }
                                @media ($sm-1199){
                                    font-size: 13px;
                                    margin-left: 8px;
                                }
                                &:first-child{
                                    margin-left: 0px;
                                }
                            }
                        }
                    }
                    .barcode-wrp{
                        max-width: 421px;
                        width: 100%;
                        .title{
                            color: #8B8B8D;
                            font-size: 16px;
                            margin-bottom: 13px;
                            font-weight: 400;
                            line-height: 1;
                        }
                        .barcode-box-wrp{
                            display: flex;
                            border: 1px solid #DFE7F1;
                            padding: 13px;
                            border-radius: 14px;
                            align-items: center;
                            .bracode{
                                img{
                                    height: 77px;
                                }
                            }
                            .btn-dwnload{
                                width: 35px;
                                height: 35px;
                                border-radius: 35px;
                                margin-left: auto;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.detail-edit-modal{
    .modal-dialog{
        max-width: 902px;
        @media ($sm-767){
            max-width: 95%;
        }
        @media ($sm-579){
            max-width: 100%;
        }
        .modal-content{
            border-radius: 40px;
            .modal-header{
                padding: 35px 35px;
                border-bottom: 1px solid #B3C6DD69;
                @media ($sm-1679){
                    padding: 30px 33px;
                }
                @media ($sm-1199){
                    padding: 20px 30px;
                }
                @media ($sm-991){
                    padding: 20px 25px;
                }
                @media ($sm-579){
                    padding: 20px;
                }
                .modal-title{
                    font-weight: 500;
                    font-size: 20px;
                    color: #092837;
                    @media ($sm-1679){
                        font-size: 18px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                    }
                }
            }
            .modal-body{
                padding: 30px 51px 49px;
                @media ($sm-1679){
                    padding: 25px 45px 40px;
                }
                @media ($sm-1199){
                    padding: 20px 40px 30px;
                }
                @media ($sm-991){
                    padding: 20px 30px 25px;
                }
                @media ($sm-579){
                    padding: 20px;
                }
                .detail-view-wrp{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .dtl-top{
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 33px;
                        justify-content: center;
                        align-items: center;
                        .profile-pic{
                            width: 152px;
                            height: 152px;
                            position: relative;
                            @media($sm-1679){
                                width: 132px;
                                height: 132px;
                            }
                            @media($sm-1441){
                                width: 112px;
                                height: 112px;
                            }
                            @media($sm-1199){
                                width: 90px;
                                height: 90px;
                            }
                            @media($sm-767){
                                width: 70px;
                                height: 70px;
                            }
                            img{
                                border-radius: 50%;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .upload-prof-btn{
                            position: absolute;
                            bottom: -5px;
                            right: 5px;
                            width: 37px;
                            height: 37px;
                            border-radius: 37px;
                            padding: 10px;
                            border: 1px solid #D8E1ED5E;
                            background-color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @media ($sm-767){
                                right: 0;
                                bottom: -10px;
                            }
                            img{
                                max-width: 17px;
                            }
                            .form-control{
                                position: absolute;
                                opacity: 0;
                            }
                        }
                    }
                    .middle-blk{
                        margin-bottom: 43px;
                        display: flex;
                        flex-direction: column;
                        .field-blk{
                            .form-group{
                                margin-bottom: 43px;
                                @media ($sm-1679){
                                    margin-bottom: 35px;
                                }
                                @media ($sm-1441){
                                    margin-bottom: 30px;
                                }
                                @media ($sm-1199){
                                    margin-bottom: 25px;
                                }
                                @media ($sm-767){
                                    margin-bottom: 20px;
                                }
                                .tag-wrp{
                                    margin-top: 23px;
                                }
                            }
                            .form-label{
                                font-size: 16px;
                            }
                            .form-control{
                                background-color: #F7FBFF;
                                border-color: #D4D7E3;
                                color: #0096DF;
                                font-size: 16px;
                            }
                            .input-group{
                                .form-control{
                                    border-right: none;
                                }
                                .input-group-text{
                                    border-left: none;
                                    border-top-right-radius: 12px;
                                    border-bottom-right-radius: 12px;
                                }
                            }
                        }
                        .tag-wrp{
                            display: flex;
                            justify-content: flex-start;
                            flex-wrap: wrap;
                            .tags{
                                border-radius: 15px;
                                height: 31px;
                                background-color: #F2FBFF;
                                margin-left: 13px;
                                padding: 8px 21px;
                                color: #000000;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 16px;
                                @media ($sm-1679){
                                    font-size: 15px;
                                    margin-left: 10px;
                                }
                                @media ($sm-1441){
                                    font-size: 14px;
                                }
                                @media ($sm-1199){
                                    font-size: 13px;
                                    margin-left: 8px;
                                }
                                &:first-child{
                                    margin-left: 0px;
                                }
                            }
                        }
                    }
                    .barcode-wrp{
                        max-width: 421px;
                        width: 100%;
                        .title{
                            color: #8B8B8D;
                            font-size: 16px;
                            margin-bottom: 13px;
                            font-weight: 400;
                            line-height: 1;
                        }
                        .barcode-box-wrp{
                            display: flex;
                            border: 1px solid #DFE7F1;
                            padding: 13px;
                            border-radius: 14px;
                            align-items: center;
                            .bracode{
                                img{
                                    height: 77px;
                                }
                            }
                            .btn-dwnload{
                                width: 35px;
                                height: 35px;
                                border-radius: 35px;
                                margin-left: auto;
                                padding: 0;
                            }
                        }
                    }
                }
            }
            .modal-footer{
                padding: 35px 45px;
                @media ($sm-1679){
                    padding: 30px 40px;
                }
                @media ($sm-1441){
                    padding: 25px 35px;
                }
                @media ($sm-1199){
                    padding: 20px 30px;
                }
                @media ($sm-991){
                    padding: 20px 25px;
                }
                @media ($sm-579){
                    padding: 20px;
                }
                .btn-primary{
                    border-radius: 35px;
                    height: 49px;
                    width: 226px;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:#0096DF;
                    border:none;
                    margin-left: 16px;
                    @media ($sm-1679){
                        height: 45px;
                        font-size: 18px;
                        width: 200px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                        margin-left: 10px;
                    }
                    @media ($sm-767){
                        height: 40px;
                    }
                    @media ($sm-479){
                        width: 100%;
                        margin-left: 0px;
                        margin-top: 10px;
                    }
                    &:hover{
                        background: #1081bad6 ;
                    }
                    .icon{
                        width: 11px;
                        margin-right: 18px;
                    }
                }
                .btn-cancel{
                    border-radius: 35px;
                    height: 49px;
                    width: 226px;
                    font-size: 20px;
                    color: #0096DF;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background:transparent;
                    border:1px solid #0096DF;
                    margin-left: 16px;
                    @media ($sm-1679){
                        height: 45px;
                        font-size: 18px;
                        width: 200px;
                    }
                    @media ($sm-1441){
                        font-size: 17px;
                    }
                    @media ($sm-1199){
                        font-size: 16px;
                        margin-left: 10px;
                    }
                    @media ($sm-767){
                        height: 40px;
                    }
                    @media ($sm-479){
                        width: 100%;
                        margin-left: 0px;
                        margin-top: 10px;
                    }
                    &:hover{
                        background: #1081bad6 ;
                        color: #fff;
                    }
                }
            }
        }
    }
}