@import 'partials';

.sidebar {
  
    width: 323px;
    max-width: 323px;
    flex: 0 0 323px;
    height: 100vh;
    padding: 26px 16px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: fixed;
    left: 0;
    top: 0;
    transition: width 0.3s ease-in-out;
    background-color: #2CA0DA;
    z-index: 2;
    @media ($sm-1679){
        width: 280px;
        max-width: 280px;
        flex: 0 0 280px;
    }
    // @media ($sm-1481){
    //     width: 250px;
    //     max-width: 250px;
    //     flex: 0 0 250px;
    // }
    .close-nav{
        position: absolute;
        right: -83px !important;
        display: none;
    }
    .logo{
        height: 62px;
        img{
            &.logo-collapse{
                display: none;
            }
        }
    }

    .top-hold {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 46px;
        @media ($sm-1679){
            margin-bottom: 40px;
        }
        @media ($sm-1441){
            margin-bottom: 35px;
        }
        @media ($sm-1199){
            margin-bottom: 30px;
        }
        .logo {
            max-width: 205px;
            margin: 0;
            @media ($sm-1481){
                max-width: 170px;
            }
            img {
                width: 100%;
            }
        }

        .toggle-nav {
            border: none;
            background: transparent;
            outline: none;
            position: absolute;
            right: 0px;
            cursor: pointer;
            &.close-nav{
                bottom: 20px;
                @media ($sm-1199){
                    bottom:30px;
                }
            }
            @media ($sm-1199){
                width: 38px;
            }
            img{
                max-width: 100%;
            }
        }
    }
    .menu-wrp-outer{
        overflow-y: auto;
        height: calc(100vh - 140px);
            &::-webkit-scrollbar {
                width: 4px;
                height: 4px;
            }
            &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 4px #D9D9D9;
            }
            &::-webkit-scrollbar-thumb {
            background-color: #77c5eb !important;
            outline: 1px solid #fff1f1;
            }
    }
    .nav {
        flex-direction: column;
        .nav-link {
            color: white;
            font-weight: 500;
            font-size: 15px;
            display: flex;
            padding:15px;
            padding-right: 0;
            border-radius: 25px;
            margin-bottom: 20px;
            transition: padding 0.3s ease-in-out;
            align-items: center;
            @media ($sm-1679){
                margin-bottom: 15px;
            }
            @media ($sm-1441){
                margin-bottom: 10px;
            }
            .icon {
                width: 20px;
                height: 20px;
                flex-shrink: 0;
                margin-right: 19px;
                @media ($sm-1679){
                    width: 18px;
                    height: 18px;
                }
                img{
                    max-width: 100%;
                    display: block;
                }
            }
            .txt{
                white-space: nowrap;
                line-height: 1;
            }

            &.active,
            &:hover{
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
            }
            &.is-sub-menu{
                position: relative;
                &::after{
                content: "";
                display: inline-block;
                background: url(../images/chevron-down-arrow.svg) no-repeat center;
                background-size: contain;
                filter: brightness(0) invert(1) hue-rotate(68deg);
                width: 12px;
                height: 10px;
                margin-left: 10px;
                }
                &.open{
                    &::after{
                    transform: rotate(180deg);
                    }
                }
            }
        }
        .sub-menu{
            margin-left: 10px;
            .nav-link{
                padding-right: 0px;
                .icon{
                    margin-right: 10px;
                }
            }
        }
    }
    &.collapsed {
        width: 80px;
        max-width: 80px;
        flex: 0 0 80px;
        .logo{
            height: 48px;
            img {
                width: 50px;
                &.logo-collapse{
                    display: block;
                    height: 48px;
                }
                &:not(.logo-collapse){
                    display: none;
                }
            }
        }
        .txt {
            display: none;
        }

        .open-nav{
            display: none;
        }
        .close-nav{
            display: block;
        }
        .nav-link{
            .icon{
                margin-right: 0px;
            }
            &.is-sub-menu{
                width: 9px;
                height: 9px;
            }
        }
    }
}
