@import "partials";
.table-header-wrap {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media ($sm-1679) {
        padding: 20px 15px;
    }
    .left-wrap {
        .icon-title {
            display: flex;
            align-items: center;
            gap: 15px;
            .img {
                width: 47px;
                @media ($sm-1679) {
                    width: 42px;
                }
            }
            span {
                font-size: 18px;
                color: #0096df;
                font-weight: 500;
                @media ($sm-1679) {
                    font-size: 16px;
                }
            }
        }
    }
    .right-wrap {
        display: flex;
        align-items: flex-end;
        gap: 15px;
        .search-wrap {
            .txt {
                border: 1px solid #d9d9d9;
                height: 45px;
                border-radius: 30px;
                font-size: 16px;
                color: #aaaaaa;
                font-weight: 400;
                width: 385px;
                outline: 0;
                font-family: $primaryFont;
                padding: 5px 20px;
                &::placeholder {
                    opacity: 1;
                    color: #aaaaaa;
                }
            }
        }
        .filter-wrap {
            height: 45px;
            border-radius: 30px;
            border: 1px solid #d9d9d9;
            display: flex;
            justify-content: space-between;
            width: 150px;
            align-items: center;
            padding: 0 15px;
            span {
                font-size: 16px;
                color: #000000;
                font-weight: 400;
            }
            img {
                width: 20px;
            }
        }
    }
}
.table-body-wrap {
    padding: 0 25px 25px 25px;
    .table-wrap {
        border: 1px solid rgba(75, 22, 76, 0.1);
        border-radius: 20px;
        overflow: hidden;
        table {
            width: 100%;
            th {
                height: 78px;
                background: #d7eaf3;
                font-size: 16px;
                color: #2ca0da;
                font-weight: 500;
                padding: 10px 20px;
                @media ($sm-1679) {
                    padding: 10px 15px;
                    height: 60px;
                    font-size: 15px;
                }
                &.tw1 {
                    width: 18%;
                }
                &.tw2 {
                    width: 12%;
                }
                &.tw3 {
                    width: 18%;
                }
                &.tw4 {
                    width: 14%;
                }
                &.tw5 {
                    width: 13%;
                }
                &.tw6 {
                    width: 15%;
                }
                &.tw7 {
                    width: 10%;
                }
            }
            .sort-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .sort {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                }
            }
            tr {
                td {
                    font-size: 16px;
                    color: #216a8d;
                    font-weight: 400;
                    padding: 12px 0;
                    border-bottom: 1px solid rgba(75, 22, 76, 0.1);
                    padding: 10px 20px;
                    @media ($sm-1679) {
                        padding: 10px 15px;
                        font-size: 15px;
                    }
                    .user-pic {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        figure {
                            width: 55px;
                            height: 55px;
                            margin: 0;
                            @media ($sm-1679) {width: 50px; height: 50px;}
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }
                        span {
                        }
                    }
                    .action-wrap {
                        display: flex;
                        gap: 15px;
                        img{
                            @media ($sm-1679) {width: 38px;}
                        }
                    }
                }
                &:last-child {
                    td {
                        border-bottom: 0px;
                    }
                }
            }
        }
    }
}

.table-footer-wrap {
    display: flex;
    justify-content: space-between;
    padding: 0 25px 25px 25px;
    .left-wrap {
        .page-show {
            display: flex;
            gap: 10px;
            align-items: center;
            span {
                font-size: 16px;
                color: #1f0d0f;
            }
            select {
                border: 1px solid #ffebee;
                height: 30px;
                font-size: 13px;
                color: #333333;
                padding: 0 10px;
                outline: 0;
                border-radius: 30px;
            }
        }
    }
    .right-wrap {
        .listing {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            li {
                font-size: 16px;
                color: #0096df;
                font-weight: 400;
                list-style: none;
                a {
                    color: #0096df;
                    text-decoration: none;
                    display: block;
                    &.active {
                        width: 30px;
                        height: 30px;
                        background: #0096df;
                        border-radius: 50%;
                        color: #fff;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
